<div class="collection--item">
  <div class="collection--item__image">
    <img src="{{ collection.image | img_url: 'medium'  }}" alt="">
  </div>
 <div class="collection--item__link">
  <p class="collection--item__title">{{ collection.title }}</p>
  <div class="collection--item__btn">
    <a href="{{ collection.url }}" >Discovery More</a>
  </div>
 </div>
</div>